<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BhsUtilityApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F1BF8481CB2BDE300C521FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1BF85C1CB2BDE400C521FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F1BF8671CB2BDE400C521FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
